//variables-mixins-resetStyles
$color-green:rgb(1, 78, 1);
$color-blue:rgb(1, 1, 138);
$color-black:#000;
$color-white:white;

@mixin flex($dir) {
    display: flex;
    flex-direction: $dir;
}

@mixin flip-card {



    .flip-card {
        background-color: transparent;
        width: 100%;
        height: 100%;
        perspective: 1000px;
    }

    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.8s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);


    }

    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }

    .flip-card-front,
    .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        text-transform: capitalize;

    }

    .flip-card-front {
        background-color: #bbb;
        color: black;

    }

    .flip-card-back {
        background-color: lightseagreen;
        color: rgb(119, 7, 7);
        transform: rotateY(180deg);
        text-align: center;
        padding: 50px 10px;


    }

    .flip-image {
        width: 100%;
        height: 100%;


    }


}

html {
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background-color: rgb(255, 255, 255);

}

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



//Responsive
@mixin for-size($range) {
    $phone-upper-boundary: 600px;
    $tablet-portrait-upper-boundary: 900px;
    $tablet-landscape-upper-boundary: 1200px;
    $desktop-upper-boundary: 1800px;

    @if $range==phone-only {
        @media (max-width: #{$phone-upper-boundary - 1}) {
            @content;
        }
    }

    @else if $range==tablet-portrait-up {
        @media (min-width: $phone-upper-boundary) and (max-width:$tablet-portrait-upper-boundary) {
            @content;
        }


    }

    @else if $range==tablet-landscape-up {
        @media (min-width: $tablet-portrait-upper-boundary) {
            @content;
        }
    }

    @else if $range==desktop-up {
        @media (min-width: $tablet-landscape-upper-boundary) {
            @content;
        }
    }

    @else if $range==big-desktop-up {
        @media (min-width: $desktop-upper-boundary) {
            @content;
        }
    }
}