//variables-mixins-resetStyles
$color-green:rgb(1, 78, 1);
$color-blue:rgb(1, 1, 138);
$color-black:#000;
$color-white:white;

@mixin flex($dir) {
    display: flex;
    flex-direction: $dir;
}

//Responsive
@mixin for-size($range) {
    $phone-upper-boundary: 600px;
    $tablet-portrait-upper-boundary: 900px;
    $tablet-landscape-upper-boundary: 1200px;
    $desktop-upper-boundary: 1800px;

    @if $range==phone-only {
        @media (max-width: #{$phone-upper-boundary - 1}) {
            @content;
        }
    }

    @else if $range==tablet-portrait-up {
        @media (min-width: 568px)and(max-width:$tablet-portrait-upper-boundary) {
            @content;
        }


    }

    @else if $range==tablet-landscape-up {
        @media (min-width: $tablet-portrait-upper-boundary) {
            @content;
        }
    }

    @else if $range==desktop-up {
        @media (min-width: $tablet-landscape-upper-boundary) {
            @content;
        }
    }

    @else if $range==big-desktop-up {
        @media (min-width: $desktop-upper-boundary) {
            @content;
        }
    }
}



@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

html {
    font-family: 'Muli', sans-serif;

}

body {
    background-color: rgb(255, 255, 255);

}

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}