.header {
    @include flex(row);
    height: 15vh;
    background: linear-gradient(to right, white, rgb(227, 231, 200px5), rgb(1, 1, 156));

    .img-header {
        margin-left: auto;
        opacity: 0.2;
    }

    .logo {
        opacity: 0.9;
        background: rgb(200px5,
                200px5,
                200px5);
        margin-bottom: 5px;
    }

}

.menu-bar {
    @include flex(row);
    height: 5vh;
    background-color: $color-green;


    .nav-list {
        @include flex(row);
        text-transform: capitalize;
        font-size: 1em;
        align-items: center;
        align-content: center;
        margin-left: 10px;



        &-item {
            @include flex(row);
            margin-right: 40px;
            margin-left: 5px;
            text-decoration: none;


        }



        &-link {

            text-decoration: none;
            color: rgb(200px5, 200px5, 200px5);
            transition: all .2s ease-in-out;
            color: white;
        }

        &-link:hover {
            letter-spacing: 2px;
            transform: scale(1.2);
            color: lightskyblue;
        }
    }

    .language {
        @include flex(row);
        margin-left: auto;
        align-content: center;
        align-items: center;
        justify-content: center;


        .lang-items {
            margin-right: 10px;
            color: rgb(200px5, 200px5, 200px5);
            font-size: .8em;

        }
    }
}



.side {


    &-photo {
        max-width: 100%;
        height: 100%;


    }

}

.content {

    width: 90vw;

    .boxes {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: repeat(6, 90px);
        column-gap: 5px;
        row-gap: 5px;
        padding: 5px 5px;




        .box1 {
            width: 100%;
            height: 100%;
            grid-column: 1 / 3;
            grid-row: 1 / 3;
            background-color: lime;

        }

        .box2 {
            @include flex(column);
            justify-content: center;
            color: white;
            width: 100%;
            height: 100%;
            grid-column: 3 / 4;
            grid-row: 1 / 3;
            background-color: lightseagreen;
            text-align: center;

        }

        .box3 {
            @include flip-card;
            width: 100%;
            height: 100%;
            grid-column: 1 / 2;
            grid-row: 3 / 6;




        }

        .box4 {
            @include flip-card;
            width: 100%;
            height: 100%;
            grid-column: 2 / 3;
            grid-row: 3 / 6;

        }

        .box5 {
            width: 100%;
            height: 100%;
            grid-column: 3 / 4;
            grid-row: 3 / 6;
            background-color: rgb(15, 15, 6);
        }

        .box6 {
            width: 100%;
            height: 100%;
            grid-column: 1 / 2;
            grid-row: 6 / 7;
            background-color: rgb(15, 15, 6);
        }

        .box7 {
            width: 100%;
            height: 100%;
            grid-column: 2/ 3;
            grid-row: 6 / 7;
            background-color: rgb(15, 15, 6);
        }

        .box8 {
            width: 100%;
            height: 100%;
            grid-column: 3/ 4;
            grid-row: 6 / 7;
            background-color: rgb(15, 15, 6);
        }






    }

}

.copy {
    margin-bottom: 10px;
    margin-top: 10px;
}



.social-footer-icons {

    text-decoration: none;
    margin-bottom: 10px;


    .menu-simple {
        @include flex(row);
        text-decoration: none;
        list-style-type: none;

        .fa {
            @include flex(row);
            margin-right: 10px;
            font-size: 1.3rem;
            color: white;
            text-decoration: none;


            &:hover {
                color: darken(black, 25%);
                transition: color 0.3s ease-in;
                text-decoration: none;
            }
        }


    }




}